<div class="container">
    <mat-list>
        <mat-list-item>Sales Management System</mat-list-item>
        <p>Sales Mangement system is developed to help business boost their sales with more insights over sales figures, customer information and sales treds. The front end of this application is build on Angular 8 using Angular material. 
            The back end of the application is written in .NET core. WebApi is used to expose the data to client applications using EF.core 2.2. This application will soon be deployed for demo purposes only.
        </p>
        <mat-divider></mat-divider>
        <mat-list-item>Feautures</mat-list-item>
        <p>Sales management system includes multiple feature which are not just limited to sales. Adding Products, Categories brands are some of them. Core sales feature such as Customer  and sales order  are now even more easier to create and maintain.
            You don't need an access to try out this application, as this is in Beta version it is open for Demo purpose.
        </p>
        
      </mat-list>
</div>
